In [1]:
import pandas as pd
from pathlib import Path

In [2]:
data_path = Path('../data/data_word')

In [14]:
df = pd.read_json(data_path / 'knockoout-round_4.json')
df

,name,type,home_team,away_team,home_result,away_result,home_penalty,away_penalty,winner,date,stadium,channels,finished,matchday
0,61,winner,9,25,1,0,NaN,NaN,9,2018-07-10 21:00:00+03:00,3,"[4, 13, 16]",True,6
1,62,winner,15,28,2,1,NaN,NaN,15,2018-07-11 21:00:00+03:00,1,"[3, 13, 15]",True,6

In [6]:
df = pd.read_json(data_path / 'group-a.json')
df

,name,type,home_team,away_team,home_result,away_result,date,stadium,channels,finished,matchday
0,1,group,1,2,5,0,2018-06-14T18:00:00+03:00,1,"[4, 6, 13, 17, 20, 22]",True,1
1,2,group,3,4,0,1,2018-06-15T17:00:00+05:00,12,"[3, 6, 14, 17, 20, 22]",True,1
2,17,group,1,3,3,1,2018-06-19T21:00:00+03:00,3,"[3, 6, 13, 17, 15, 21, 22]",True,2
3,18,group,4,2,1,0,2018-06-20T18:00:00+03:00,10,"[3, 6, 13, 17, 21, 22]",True,2
4,33,group,4,1,3,0,2018-06-25T18:00:00+04:00,7,"[4, 6, 13, 18, 15, 20, 22]",True,3
5,34,group,2,3,2,1,2018-06-25T17:00:00+03:00,8,"[5, 6, 14, 18, 15, 21, 22]",True,3